.header {
  display: flex;
  font-family: "Andika New Basic", sans-serif;
  color: aqua;
  justify-content: center;
}
.Tasks{
  display: flex;
}
.Container {
  display: flex;
  border: 1px solid black;
  margin-left: 40px;
  height: 400px;
}

.Task__Card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
  border: solid 1px blue;
  height: fit-content;
}

.TaskC {
  display: flex;
  justify-content: center;
}

.Taskcard {
  padding: 10px;
  margin: 10px;
}
.Add__Task {
  border: solid 1px red;
  margin: 10px;
  outline: none;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background: transparent;
  color: aqua;
  font-size: 25px;
  transition: all 0.5s;
  z-index: 1;
}

.Add__Task::before {
  content: "";
  height: 60px;
  width: 80px;
  border-radius: 150px;
  display: inline-block;
  position: absolute;
  //   top: 50%;
  //   left: 50%;
  transform: translate(-50%, -59%);
  filter: blur(30px);
  pointer-events: none;
  z-index: -1;
}

.Add__Task:hover::before {
  animation: slide 10s 0s linear;
  background: linear-gradient(
    to right,
    #ffffe0,
    #ff899b,
    #b0ff90,
    #37ffff,
    #ffffe0
  );
  background-size: 500%;
  background-position: left;
}
.Add__Task:hover {
  animation: slide 10s 0s infinite linear;
  background: linear-gradient(
    to right,
    #ffffe0,
    #ff899b,
    #b0ff90,
    #37ffff,
    #ffffe0
  );
  background-size: 500%;
  background-position: left;
  color: black;
}
@keyframes slide {
  from {
    background-position: 0%;
  }
  to {
    background-position: 500%;
  }
}

.Button__keeper {
  border: 1px solid aqua;
}

.Tasks {
  display: flex;
}